<% include parziale/head %>

      <section class="background-image-home border-red" id="search-background">
        <header class="container"  id="search">
          <div class="row">
            <div class="col-sm-12" id="search-title">
              <h1>Siamo spiacenti<br/> ma la pagina non è disponibile</h1>
              <h2>fai una <strong>ricerca</strong> o seleziona una <strong>categoria</strong></h2>
            </div>
           <div class="col-sm-12" id="search-field">
               <form method="get" action="/cerca">
               <div id="search-field-group">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <input name="q" type="text" autocomplete="off" placeholder="Inserisci una parola o location" size="40" pattern=".{3,}" tabindex="1"  required />

                </div>
                <input type="submit" value="cerca percorso" tabindex="16">
                <div id="search-advanced-view">
                <a href="#" tabindex="5"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span></a>

                 <div id="search-advanced-options" class="row background-red hidden" >
                      <div class="col-sm-4">
                       <h6>Caratteristiche</h6>
                       <label for="lung">lunghezza max.</label><input type="text" name="lung" id="lung" tabindex="6" placeholder="Km" pattern="[0-9]+{0,3}" maxlength="3"/><br/>
                       <label for="pend">pendenza max.</label><input type="text" name="pend" id="pend" tabindex="7" placeholder="%" pattern="[0-9]+{0,3}" maxlength="3"  /><br/>

                     </div>
                    <div class="col-sm-4">
                       <label for="type">tipo di strada</label><select name="type" id="type" tabindex="8">
                                                                 <option value="0">tutte</option>
                                                                 <option value="1">asfalto</option>
                                                                 <option value="2">terra</option>
                                                                 <option value="3">ghiaia</option>
                                                                 <option value="4">misto</option>
                                                               </select><br/>
                       <label for="diff">difficoltà</label><select id="diff" name="diff" tabindex="9">
                                                                 <option value="0">tutte</option>
                                                                 <option value="1">*</option>
                                                                 <option value="2">**</option>
                                                                 <option value="3">***</option>
                                                               </select><br/>
                     </div>
                    <div class="col-sm-4">

                       <label><input type="checkbox" name="bambini" value="1" tabindex="10"  />adatto ai bambini</label><br/>

                     </div>
                   </div>
                   </div>
                 </form>
            </div>

          </div>
        </header>
      </section>

      <main class="container" id="percorsi">
        <div class="row">
          <header class="col-sm-12">
              <h2>Percorsi</h2>
            </header>
        </div>
        <!--tab index 17-->
        <article class="row">

          <% categoryObj.forEach(function category(obj) {%>
          <div class="col-sm-4" tabindex="19" style="height:230px">
           <header style="background-image:url('/images/<%= obj['image']%>')">
             <a href="/<%= obj['_id']%>">
               <h3><%= obj["title"]%></h3>
                <div><strong>vedi tutti</strong> i percorsi <strong><%= obj["title"]%></strong></div>
              </a>
            </header>
          </div>
          <% }) %>


        </article>



        </main>


        <% include parziale/footer %>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="/js/jquery.cookie.js"></script>
      <script src="/js/bikeaway.js"></script>
      <script>
    	$('document').ready(init);

    	function init() {
    		initCookie();
        initLarghezzaSearch();
    	}

      </script>
      <link rel="stylesheet" media="screen" href="css/layout-404.css" />

  </body>
</html>
