<% include parziale/head %>

      <section class="background-image-home border-red" id="search-background">
        <header class="container"  id="search">
          <div class="row">
            <div class="col-sm-12" id="search-title">
              <h1>Siamo spiacenti<br/> abbiamo riscontrato un problema a livello si applicazione</h1>
              <h2><strong>Risolveremo il problema il prima possibile</strong></h2>
            </div>


          </div>
        </header>
      </section>





      <link rel="stylesheet" media="screen" href="css/layout-404.css" />

  </body>
</html>
