<div class="background-red border-yellow">
  <div class="container" id="piede">
    <div class="row">
      <section class="col-sm-4 col-sm-push-4" id="preference">
        <h4>Preferenze</h4>
        <p>Inserisci la tua velocità media per ricalcolare i tempi di percorrenza dei percorsi.</p>
        <input id="velocita" name="velocita" type="text" autocomplete="off" size="3" pattern="\d{1,2}" maxlength="3" value="8"/>
        <button type="button" id="setVelocita">Imposta Km/h</button>
      </section>
      <section class="col-sm-4 col-sm-push-4">
        <h4>Iscriviti alla newsletter</h4>
        <p>Iscrivendoti riceverai gratuitamente la nostra newsletter mensile che ti terrà aggiornato sulle novità del sito, delle mappe e speciali promozioni per gli iscritti.</p>
      <!--  <input id="newsletter" name="newsletter" type="email" autocomplete="off" size="20" pattern="\d{1,2}" placeholder="esempio@mail.it"/><button type="button">Iscriviti</button>-->
      <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
          <form action="https://matteoziviani.us17.list-manage.com/subscribe/post?u=db314ae92cb5964a147180cc6&amp;id=79799be7c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          <div class="mc-field-group">
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" size="20" pattern="\d{1,2}" placeholder="esempio@mail.it">
          </div>
          	<div id="mce-responses" class="clear">
          		<div class="response" id="mce-error-response" style="display:none"></div>
          		<div class="response" id="mce-success-response" style="display:none"></div>
          	</div>   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_db314ae92cb5964a147180cc6_79799be7c7" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>

<!--End mc_embed_signup-->

      </section>

      <section class="col-sm-4 col-sm-pull-8">
        <h4><img src="/images/logo-bikeaway-bianco.svg" alt="logo bikeaway" /></h4>
        <div class="row">
            <section class="col-sm-6">
              <ul>
                <li><a href="/">Home</a></li>
                <!--<li><a href="#">Login</a></li>
                <li><a href="#">Registrati</a></li>
                <li><a href="#">Family</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Relax</a></li>
                <li><a href="#">Città e paesi</a></li>
                <li><a href="#">Contatti</a></li>-->
                <li><a href="/private-policy">Private Policy</a></li>
                <!--<li><a href="/help-center">Help Center</a></li>-->
              </ul>

              <h5 id="social">Seguici sui social</h5>
              <ul>
                <li><a href="https://www.facebook.com/lozivi"><img src="/images/facebook-logo.svg" alt="logo facebook" /></a></li>

              </ul>
          </section>
          <section class="col-sm-6">
            <h5>Scarica l'app</h5>
            <ul>
              <li><a href="https://itunes.apple.com/us/app/strava-running-and-cycling-gps/id426826309?mt=8#">App per iPhone</a></li>
              <li><a href="https://play.google.com/store/apps/details?id=com.strava&hl=it">App per Android</a></li>
            </ul>

          </section>
      </div>
      </section>
    </div>
    <footer class="row">
      <div class="col-sm-12">
        <p>&copy; 2017 Bikeaway srl - Tutti i diritti riservati - Progetto universitario a scopo didattico</p>
      </div>
    </footer>
  </div>
</div>
