<!DOCTYPE html>
<html lang="it">
  <head>
    <title><%= title %> Bikeaway - Scopri Verona e provincia su due ruote </title>
    <!-- inserire meta, favicon, opengraph -->
    <meta charset="utf-8" />
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,700" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="/css/layout.css" />
    <% if (typeof code != 'undefined' &&  code == "404") { %>
    <link rel="stylesheet" media="screen" href="css/layout-404.css" />
  <% } %>
    <link rel="stylesheet" media="screen" href="/css/layout-mobile.css" />
  </head>

  <body>
    <div class="container" id="intestazione">
      <div class="row">
        <header class="col-sm-3">
          <a href="/"><img src="/images/logo-bikeaway.svg" alt="Logo Bikeaway" /></a>
        </header>
        <!-- pulsanti registrazione e login
        <section class="col-sm-9">
          pulsanti registrazione
        </section>-->
      </div>
    </div>
