/* classi base */
.border-red {
  border-top: 3px solid #9d0029;
}
.border-yellow {
  border-top: 5px solid #ffc752;
}
.background-yellow {
  background-color: #ffe9ba;
}
.background-red {
  background-color: #9d0029;
}
.ball-full {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
}
/* stili specifici home*/
body {
  font-family: 'Roboto Slab', "Times New Roman", Times, serif;
  font-size: 16px;
}
#intestazione div {
  margin-top: 14px;
  margin-bottom: 10px;
}
#intestazione header a img {
  max-width: 154px;
}
#search-background {
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('../images/sfondo-search-home.jpg');
  background-size: cover;
  min-height: 419px;
}
#search {
  text-align: center;
}
#search #search-title {
  margin-top: 100px;
  margin-bottom: 30px;
}
#search #search-title h1 {
  font-size: 40px ;
  color: #fff;
  margin: 0px;
  text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}
#search #search-field {
  height: 40px;
  font-size: 0px;
}
#search #search-field form {
  height: 100%;
}
#search #search-field #search-field-group {
  position: relative;
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#search #search-field #search-field-group span {
  margin: 9px 10px 11px 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 0px;
}
#search #search-field #search-field-group input[name="q"] {
  border-width:  0px;
  border-style: none;
  outline-style: none;
  outline-width: 0px;
  padding: 0px;
  margin: 0px;
  height: 100%;
  vertical-align: top;

}
#search #search-field input[type="submit"] {
  height: 40px;
  font-size: 16px;
  border: 0px none;
  background-color: #ffc752;
  display: inline-block;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  vertical-align: top;
  border-radius: 0px;
}
#search #search-field input[type="submit"]:hover,
#search #search-field input[type="submit"]:focus {
  background-color: #ffe9ba;
}
#search #search-field #search-advanced-view {
  height: 100%;
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin:0px;
  padding: 0px;
  vertical-align: top;
}
#search #search-field #search-advanced-view a {
  color: #fff;
  display: inline-block;
  height: 100%;
  background-color: #9d0029;
  padding: 8px 11px 0px 9px;
}
/* opzioni suggerimenti, ultime ricerche e ricerca avanzata */
#search #search-field #search-field-group #tips {
  background-color: #fff;
  width: 100%;
  min-height: 100px;
  position: absolute;
  top: 40px;
  left: 0px;
  text-align: left;
  font-size: 14px;
  z-index: 9;
}
#search #search-field #search-field-group h6 {
  color: #9d0029;
  font-size: 13px;
  margin: 10px 0px 10px 10px;
  padding: 0px;
}
#search #search-field #search-field-group ul {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
#search #search-field #search-field-group ul li {
  list-style-type: none;
}
#search #search-field #search-field-group ul li a {
  display: block;
  padding: 5px 5px 5px 10px;
  color: #333;
  text-decoration: none;
}
#search #search-field #search-field-group ul li a:hover,
#search #search-field #search-field-group ul li a:focus
 {
  background-color: #ffe9ba;
  outline-width: 0px;
  outline-style: none;
}
#search #search-field #search-advanced-view #search-advanced-options {
  position: absolute;
  top: 40px;
  right: 0px;
  min-height: 100px;
  width: 605px;
  padding: 8px 0px 8px 0px;
  margin: 0px;
  font-size: 13px;
  color: #fff;
  text-align: left;
  line-height: 24px;
  z-index: 0;
}
#search #search-field #search-advanced-view #search-advanced-options div h6 {
  margin: 0px 0px 8px 0px;
  padding: 0px;
  color: #ffc752;
  font-size: 13px;
}

#search #search-field #search-advanced-view #search-advanced-options div input[type='checkbox'],
#search-category input[type='checkbox'],
#other-pins div.row div input[type='checkbox']
 {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 0px none;
  margin-right: 5px;
  appearance:button;
  -webkit-appearance:button;
  -moz-appearance:button;
  -ms-appearance:button;
  vertical-align: text-bottom;
  border-radius: 0px;
}
#search #search-field #search-advanced-view #search-advanced-options div input[type='checkbox']:checked,
#search-category input[type='checkbox']:checked,
#other-pins div.row div input[type='checkbox']:checked  {
  background-image: url('../images/checked.svg');
  background-position: center center;
  background-repeat: no-repeat;
}
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(1) label,
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(2) label {
  width: 65%;
  display: inline-block;
}
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(1) input[type='text'],
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(1) select,
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(2) input[type='text'],
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(2) select  {
  width: 35%;
  height: 20px;
  color: #000;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: right;
  border-radius: 0px;
  border-style: none;
  border-width: 0px;
  background-color: #fff;
}
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(2),
#search #search-field #search-advanced-view #search-advanced-options div:nth-child(3) {
  padding-top: 29px;
}
#evidenza header h2,
#percorsi header h2,
#informativo header h2 {
  margin: 16px 0px 16px 0px;
  text-align: left;
  color: #9d0029;
  font-size: 30px;
}
#informativo h3 {
  font-size: 18px;
}
/* stili percorsi home*/
#percorsi article.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: stretch;
  -webkit-align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
}

#percorsi article.row > div,
#percorsi article.row > article {
  margin-bottom: 16px;
  height: auto;
}
#percorsi article.row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
}
#percorsi article.row > div header {
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url('../images/family.jpg');
  background-size: cover;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  display: flex;
  flex-wrap: nowrap;
}
#percorsi article.row > div header a {
  width: 100%;
  color: #000;
}
#percorsi article.row > div header a:hover {
  text-decoration: none;
}
#percorsi article.row > div header a h3 {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  min-height: 51px;
  padding: 3px 0px 0px 5px;
  margin: 0px;
}
#percorsi article.row > div header a div {
  min-height: 29px;
  background-color: #ffc752;
  font-size: 15px;
  padding: 3px 0px 0px 5px;
  font-weight: normal;
  background-image: url('../images/freccia-dx.svg');
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 98% center;
  padding-right: 15px;
}
#percorsi article.row > div header a:hover div,
#percorsi article.row > div header a:focus div {
  background-color: #fff1d4;
}

/* pubblicità */
#adv {
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
#adv h5 {
  color:#ffc752;
  font-size: 13px;
  margin: 0px 0px 13px 0px;
}
#adv div a  {
  min-height: 150px;
  display: block;
  width: auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.35)
}
#adv div a h6 {
  font-size: 16px;
  color: #000;
  margin: 8px 8px 12px 8px;
}
#adv div a:hover,
#adv div a:focus {
  text-decoration: none;
}
#adv div a p {
  font-size: 14px;
  color: #666;
  margin: 0px 8px 0px 8px;
}
#adv div a p.link {
  color: #9d0029;
}
#annunci div {

  margin-bottom: 20px;
}


/* piede */
#piede div.row {
  margin-top: 16px;
}
#piede div.row section:last-child h4 {
  margin: 0px;
  padding: 0px;
}
#piede div.row section:last-child h4 img {
  max-width: 154px;
}
#piede div.row section:last-child h5 {
  margin: 0px;
  padding: 0px;
  color: #fff;
}
#piede div.row section:last-child #social {
  margin-top: 16px;
  margin-bottom: 8px;
}
#piede div.row section #social + ul li {
  display: inline;
}
#piede div.row section:last-child #social + ul li a img {
  max-width: 24px;
  margin-right: 3px;
}
#piede div.row section h4 {
  color: #ffc752;
  margin: 2px 0px 0px 0px;
  padding: 0px;
  font-size: 20px;
}
#piede div.row section ul {
  padding: 0px;
  margin: 0px;
}
#piede div.row section ul li {
  list-style-type: none;
}
#piede div.row section ul li a {
  color: #fff;
  font-size: 13px;
}
#piede div.row section p {
  color: #fff;
  font-size: 13px;
  margin: 16px 0px 8px 0px;
  padding: 0px;
}
#piede div.row section input[type='text'],
#piede div.row section input[type='email'],
#piede div.row section #mce-EMAIL {
 text-align: center;
 height: 30px;
 padding: 0px 0px 0px 0px;
 font-size: 15px;
 border-width: 0px;
 border-style: none;
 border-radius: 0px;
}
#piede .mc-field-group,
#piede #mc_embed_signup #mce-responses,
#piede #mc_embed_signup .clear{
  display:inline;
}
#piede div.row section button,
#piede div.row section #mc-embedded-subscribe {
 background-color: #ffc752;
 border-width: 0px;
 border-style: none;
 height: 30px;
 padding: 0px 10px 0px 10px;
}
#piede div.row section button:hover {
  background-color: #ffe9ba;
}
#piede div.row section button:disabled,
#piede div.row section button:disabled:hover {
	background-color: #ccc;
	color: #988BA1;
}
#piede div.row section input[type='text']:disabled{
	background-color: #ccc;
	color: #988BA1;
}
#piede footer div p {
  color: #fff;
  font-size: 13px;
  text-align: center;
  margin-top: 16px;
}
#piede #preference p.msg,
#areaInserimento p.msg {
	width: 100%;
	text-align: center;
	font-size:12px;
	padding-top:2px;
	padding-bottom: 2px;
}
#piede #preference p.msg.wait,
#areaInserimento p.msg.wait {
	background-color: #FFC60D;
  color: #000;
}
#piede #preference p.msg.ok,
#areaInserimento p.msg.ok {
	background-color: #50C60D;
  color: #fff;
}
#piede #preference p.msg.error,
#areaInserimento p.msg.error{
	background-color: #F70000;
  color: #fff;
}
#areaInserimento p {
  font-size:15px !important;
}
/************ stili category e search ************************/
#search-category div nav,
#scheda div nav {
  margin: 16px 0px 16px 0px;
}
#search-category div nav ul,
#scheda div nav ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#search-category div nav ul li,
#scheda div nav ul li {
  display: inline;
  list-style-type: none;
  font-size: 15px;
}
#search-category div nav ul li span,
#scheda div nav ul li span {
  font-size: 10px;
}
#search-category div nav ul li a,
#scheda div nav ul li a {
  color: #000;
}
#search-category div nav ul li a:hover,
#scheda div nav ul li a:hover {
  color: #9d0029;
  text-decoration: none;
}
#search-category header h2,
#scheda header h1 {
  margin: 0px 0px 40px 0px;
  text-align: left;
  color: #000;
  font-size: 30px;
  font-weight: normal;
}
#search-category header h2 strong,
#scheda header h1 {
  color: #9d0029;
  font-weight: bold;
}
#search-category #order,
#search-category #filter,
#search-category #cat,
#search-category #side-search {
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  padding: 16px 16px 16px 16px;
  margin-bottom: 16px;
}
#search-category h4  {
  margin:0px 0px 16px 0px;
  font-size: 15px;
  color: #ffc752;
}
#search-category input[type='text'] {
  width: 100%;
  text-align: right;
  color: #000;
  margin-bottom: 8px;
  padding: 0px;
  border-radius: 0px;
  background-color: #fff;
  border-style: none;
  border-width: 0px;
}
#search-category select {
  width: 100%;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
  padding: 0px;
  border-radius: 0px;
  background-color: #fff;
  border-style: none;
  border-width: 0px;
}
#search-category #cat ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#search-category #cat ul li {
  list-style-type: none;
}
#search-category #cat ul li a {
  color: #fff;
}
#search-category #cat ul li a:hover {
  color: #ffe9ba;
  text-decoration: none;
}
#search-category #side-search input[type='text'] {
  width: 80%;
  height: 30px;
  text-align: left;
  padding-left: 5px;
}
#search-category #side-search input[type='submit'] {
  width: 18%;
  height: 30px;
  background-color: #ffc752;
  border-width: 0px;
  border-style: none;
  color: rgba(0,0,0,0);
  background-image: url('../images/search-icon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border-radius: 0px;
}
#search-category #side-search input[type='submit']:hover {
  background-color: #ffe9ba;
}
#search-category #filter button{
  width: 100%;
  margin-top: 24px;
  background-color: #ffc752;
  color: #000;
  border-radius: 0px;
  border-style: none;
  border-width: 0px;
}
#search-category #filter button:hover {
  background-color: #ffe9ba;
}
/*checkbox riga 176 */

/*************** scheda ****************/
#other-pins div.row div {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
#other-pins div.row div label {
  margin-right: 20px;
}
#scheda #content p {
  margin-bottom: 25px;
  font-size: 16px;
}
#scheda #content p.tags,
#scheda #content p.note,
#scheda #content #dettagli {
  font-size: 13px;
}
#scheda #content p.note a {
  color: #9d0029;
  text-decoration: underline;
}
#scheda #content p.tags span {
  color: #9d0029;
  margin-right: 5px;
  margin-bottom: 20px;
}

#scheda #content #dettagli div {
  margin-bottom: 10px;
}
#scheda #content #dettagli div:nth-child(4) span {
  color: #9d0029;
}
#scheda #content aside div {
  padding: 8px 8px 8px 8px;
  counter-reset: annunci;
}
#scheda #content aside h3 {
  color: #ffc752;
  margin: 0px 0px 13px 0px;
  font-size: 13px;
}
#scheda #content aside h4 {
  color: #000;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  background-image: url('../images/red-star.svg');
  background-position: left 2px;;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 21px;

}
#scheda #content aside h4::before {
  counter-increment: annunci;
  content: counter(annunci, upper-alpha)". " ;
}
#scheda #content aside p {
  margin: 0px 0px 16px 20px;
  font-size: 14px;
  color: #666;
}
/*#scheda #content aside p a {
  color: #406599;
}*/
#scheda #content aside a:hover {
  text-decoration: none;
}
#commenti header h2 {
  color: #9d0029;
  font-size: 22px;
}
#commenti  #menu1 {
  height: 30px;
  padding: 5px 0px 5px 8px;
  font-size: 13px;
  color: #fff;
}
#commenti #menu2 {
  height: 30px;
  padding: 0px;
  font-size:13px;
}
#commenti  #menu1 select {
  color: #000;
  height: 20px;
  margin-left: 8px;
  border-radius: 0px;
}
#commenti  #menu2 a {
  display: block;
  height: 30px;
  background-color: #ffc752;
  color: #000;
  padding: 6px 0px 4px 0px;
  text-align: center;
  width: 100%;
  border-width: 0px;
  border-style: none;
  font-size: 13px;
}
#commenti form input[type='submit']{
  padding: 0px;
  background-color: #ffc752;
  width: 100%;
  border-width: 0px;
  border-style: none;
  font-size: 13px;
}
#commenti #menu2 a:hover,
#commenti form input[type='submit']:hover {
  text-decoration: none;
  background-color: #ffe9ba;
}
#commenti form {
  font-size: 15px;
  line-height: 30px;
  border-bottom: 1px solid #9d0029;
  padding-bottom: 16px;
}
#commenti form  label {
  color: #666;
}

#commenti form em {
  color: #9d0029;
  font-size: 12px;
}
#commenti form input,
#commenti form textarea {
  width: 100%;
  line-height: 25px;
}
#commenti #areaInserimento select{
  border-radius: 0px;
}
#commenti #areaInserimento input[type='text'],
#commenti #areaInserimento input[type='email'],
#commenti #areaInserimento textarea {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
}
/***** da sistemare ****/
#scheda #content #commenti  #listacommenti .corpo-commento {
  font-size: 13px;
}
#scheda #content #commenti  #listacommenti .corpo-commento p {
  font-size: 13px;
  margin: 0px 0px 16px 0px;
}
#commenti  #listacommenti .corpo-commento .tappa {
  border-radius: 50%;
  background-color: #9d0029;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  float: left;
  margin: 0px 8px 8px 0px;
  vertical-align: top;
}
#commenti #listacommenti .corpo-commento .tappa + p {
  float: left;
}
/***** da sistemare ****/
#paginazione {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 13px;
}
#paginazione ul {
  margin: 0px;
  padding: 0px;
}
#paginazione ul li {
  list-style-type: none;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
#paginazione ul li a {
  color: #242424;
  text-decoration: none;
}
/* STILI DEI PERCORSI SHORT */
.percorso {
  min-height: 210px;
  margin-bottom: 16px;
  font-size: 16px;
}
/*.percorso:not(.highlight) a h3,
.percorso:not(.highlight) a h4 {
  border-top: 1px solid #9d0029;
}*/
.percorso a, .percorso a:hover {
  color: #000;
  text-decoration: none;
  outline-width: 0px;
  outline-style: none;

}
.percorso h3,
.percorso h4 {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #9d0029;
  width: 100%;
  height: 51px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 0px 0px 5px;
}

.percorso.highlight h3 {
  background-color: #9d0029;
  color: #fff;
}
.percorso h3 a:hover,
.percorso h4 a:hover {
  text-decoration: none;
}
.percorso section {
  padding: 8px 0px 5px 5px;
}
.percorso:not(.highlight) a:hover section,
.percorso:not(.highlight) a:focus section
 {
  background-color: #ffe9ba;
  outline-width: 0px;
  outline-style: none;
}
.percorso:not(.highlight) a:hover h3,
.percorso:not(.highlight) a:focus h3,
.percorso a:hover h4,
.percorso a:focus h4 {
  background-color: #9d0029;
  color: #fff;
}
.percorso.highlight a:hover section,
.percorso.highlight a:focus section {
  background-color: #fff1d4;
}
.percorso .row.dettagli {
  margin-top: 32px;
  font-size: 15px;
}
.percorso .row.dettagli div {
  margin:0px 0px 3px 0px;
}
.percorso .row .lunghezza {
  text-align: right;
}
.percorso .row .gps-txt {
  color: #DC493C;
  font-size: 12px;
}
.percorso .row .gps-txt img {
  margin-right: 7px;
  margin-left: 3px;
}
.percorso .row .lunghezza strong {
  background-color: #ffc752;
  display: inline-block;
  width: 100%;
  padding-right: 5px;
  font-weight: normal;
}
.percorso .row.dettagli div:nth-child(1) span,
#scheda #content #dettagli div:nth-child(1) span{
  display: inline-block;
  border: 1px solid #ffc752;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-left: 2px;
}
.percorso .row.dettagli div:nth-child(1) span.full,
#scheda #content #dettagli div:nth-child(1) span.full {
  background-color: #ffc752;
}
.percorso p {
  font-size: 13px;
  margin: 16px 0px 0px 0px;
}
.percorso p span {
  margin-right: 5px;
  color:#9d0029;
}
/************* MAPS */
h6.titlemap {
	color: #9d0029;
	font-family: 'Roboto Slab', "Times New Roman", Times, serif;
	font-size: 14px;
	margin: 10px 0px 15px 0px;
	font-weight: normal;
}
h6.titlemap a {
	color: #9d0029;
	text-decoration: none;
}
p.textmap {
	font-family: 'Roboto Slab', "Times New Roman", Times, serif;
	font-size: 13px;
	margin: 0px 0px 5px 0px;
}
p.textmap span {
	display: inline-block;
  border: 1px solid #ffc752;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}
p.textmap span.full {
  background-color: #ffc752;
}
p.textmap a {
  color: #000;
  text-decoration: none;
  line-height: 25px;
  font-size: 13px;

}
p.textmap a:hover {
  color: #9d0029;
}
p.tagsmap {
	font-family: 'Roboto Slab', "Times New Roman", Times, serif;
	font-size: 12px;
	margin-top: 15px;
}
p.tagsmap span {
  color: #9d0029;
  margin-right: 5px;
}
p.tagsmap a {
  text-decoration: none;
  color: #000000;
}
p.tagsmap a:hover {
  color: #ffc752;
}
/*************** pag informative *************/
#informativo
